.container {
  padding: 50px 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.postContentContainer,
.section {
  width: 100%;
  margin-bottom: 100px;
}
.section:nth-last-child(1) {
  margin-bottom: 0px;
}
.sectionTitle {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}
.category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 8px;
}
.category a {
  border-radius: 100px;
  font-size: 18px;
  margin-right: 25px;
  cursor: pointer;
  min-width: 50px;
  display: flex;
  justify-content: center;
  color: var(--black_70);
  background-color: #fff;
  padding: 10px 16px;
}
.category a.active {
  background-color: var(--brandColor_weak);
  color: var(--brandColor);
  padding: 10px 16px;
}
.postContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.postItem {
  width: 23.5%;
  cursor: pointer;
  margin-bottom: 30px;
  padding: 0 1%;
}
.postItem:nth-child(1) {
  padding-left: 0;
}
.postItem:nth-child(5n) {
  padding-left: 0;
}
.postItem:nth-child(4n) {
  padding-right: 0;
}
.postTitle {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}
.postInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black_70);
  font-size: 14px;
}
.postCommentWrap {
  display: flex;
  align-items: center;
}
.postCommentWrap svg {
  font-size: 16px;
  margin-right: 6px;
}
.postImageWrap {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}
.postImageWrap:before {
  content: "";
  display: block;
  padding-top: 70%;
}
.postImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

/* post detail */
.postingHeader {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid var(--black_40);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.postingTitleWrap {
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 30px;
  font-size: 20px;
  font-weight: bold;
}
.postingTitleWrap svg {
  color: var(--brandColor);
  margin-right: 40px;
  cursor: pointer;
}
.postingRegistTime {
  font-size: 14px;
  color: var(--black_70);
}
.postingContentWrap {
  width: 100%;
  border-bottom: 1px solid var(--black_40);
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.postingContent {
  width: 100%;
}
.postingTag {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}
.postingTag li {
  margin-right: 20px;
  background-color: var(--black_20);
  color: var(--black_70);
  padding: 10px 24px;
  font-size: 14px;
  margin-bottom: 10px;
}
.postingTag li:nth-last-child(1) {
  margin-right: 0;
}
.commentWrap {
  width: 100%;
  border-bottom: 1px solid var(--black_40);
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.commentBox {
  display: flex;
  margin-bottom: 50px;
}
.underCommentBox {
  display: flex;
  margin-bottom: 30px;
}
.underCommentBox:nth-last-child(1) {
  margin-bottom: 0px;
}
.commentBox:nth-last-child(1) {
  margin-bottom: 0;
}
.commentInput {
  resize: none;
  flex: 1;
  height: 105px;
  font-size: 17px;
  border-radius: 6px;
  border: 1px solid var(--black_40);
  padding: 10px;
  line-height: 150%;
  box-sizing: border-box;
}
.btnWriteComment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: var(--brandColor);
  color: #fff;
  cursor: pointer;
}
.btnWriteCommentLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border: none;
  background-color: #fff;
  cursor: default;
}
.commentLength {
  margin-right: 20px;
}
.profileImage {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin-right: 20px;
  object-position: center;
  object-fit: cover;
}
.comment {
  flex: 1;
}
.commentInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.commentInfo svg {
  color: var(--black_60);
  cursor: pointer;
  padding-top: 4px;
}
.commentWriterInfo {
  display: flex;
  align-items: flex-end;
}
.commentWriterInfo .nickname {
  margin-right: 15px;
  font-size: 17px;
  font-weight: bold;
}
.commentWriterInfo .registTime {
  font-size: 13px;
  color: var(--black_60);
}
.commentContent {
  white-space: pre-line;
  line-height: 150%;
  font-size: 17px;
  color: var(--black_90);
}
.commentContent span {
  margin-right: 10px;
  color: var(--brandColor);
  font-weight: bold;
}
.recommentBox {
  margin-top: 20px;
}
.recommentTagBox {
  margin-bottom: 10px;
  color: var(--brandColor);
  font-weight: bold;
}
.commentEditBox {
}
.editBtnBox {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btnEdit {
  margin-right: 20px;
  background-color: #fff;
  border: 1px solid var(--brandColor);
  width: 80px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  color: var(--brandColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnEditCancel {
  background-color: #fff;
  border: 1px solid var(--black_40);
  width: 80px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  color: var(--black_80);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.morePostWrap {
  width: 100%;
}
.morePostTitle {
  margin-bottom: 30px;
  font-size: 18px;
}
.morePostTitle span {
  color: var(--brandColor);
  font-weight: bold;
}
.postTitleInput {
  width: 100%;
  padding: 10px 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--black_40);
  font-size: 16px;
}
.tagInput {
  width: 500px;
  padding: 10px 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--black_40);
  font-size: 16px;
}
.btnPostingBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.btnPosting {
  padding: 14px 40px;
  background-color: var(--brandColor);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.commentBtnMoreBox {
  position: relative;
}
.moreBtnBox {
  display: flex;
  position: absolute;
  background-color: #fff;
  border: 1px solid var(--black_40);
  border-radius: 4px;
  width: fit-content;
  right: 0;
  top: 105%;
}
.moreBtnBox li {
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  color: var(--black_90);
  font-weight: normal;
}
.moreBtnBox li:hover {
  background-color: var(--black_10);
}

@media screen and (max-width: 800px) {
  .postItem {
    width: 48%;
    padding: 2%;
  }
  .postItem:nth-child(2n-1) {
    padding-left: 0%;
  }
  .postItem:nth-child(2n) {
    padding-right: 0%;
  }
}

@media screen and (max-width: 500px) {
  .postItem {
    width: 100%;
    padding: 0;
  }
}
