html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 130%;
  font-family: "NanumBarunGothic", sans-serif, "TossFaceFontMac";
  /* font-family: "Noto Sans KR", sans-serif; */
  color: var(--black_100);
  padding-top: 50px;
}
input,
textarea {
  line-height: 130%;
  font-family: "NanumBarunGothic", sans-serif, "TossFaceFontMac";
  /* font-family: "Noto Sans KR", sans-serif; */
  color: var(--black_100);
}
input:focus,
input:active,
button:focus,
button:active,
textarea:focus,
textarea:active {
  outline: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: initial;
  text-decoration: none;
  outline: none;
}
a:hover,
a:active {
  color: initial;
  text-decoration: none;
}
:root {
  --brandColor: #7360bd;
  --brandColor_weak: #e7e3f5;
  --black_100: #1f2c37;
  --black_90: #434e58;
  --black_80: #66707a;
  --black_70: #78828a;
  --black_60: #9ca4ab;
  --black_50: #bfc6cc;
  --black_40: #d1d8dd;
  --black_30: #e3e9ed;
  --black_20: #ecf1f6;
  --black_10: #f5f6f7;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
ul {
  list-style: none;
  padding: 0;
}
ul.pagination li {
  display: inline-block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}
ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}
ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}
ul.pagination li a {
  text-decoration: none;
  color: var(--black_70);
  font-size: 1rem;
}
ul.pagination li.active a {
  color: #fff;
}
ul.pagination li.active {
  background-color: var(--brandColor);
  border-radius: 99px;
}
ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}
.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}
.toastui-editor-contents {
  font-size: 19px !important;
  font-family: "NanumBarunGothic", sans-serif, "TossFaceFontMac" !important;
}
.toastui-editor-contents img {
  display: block !important;
  max-width: 100% !important;
  margin: 40px auto !important;
}
.toastui-editor-contents pre {
  font-size: 15px !important;
}

@font-face {
  font-family: "TossFaceFontMac";
  src: url("../resource/fonts/TossFaceFontMac.ttf");
}
