.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 60px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.03);
  z-index: 99;
}
.headerWrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.logo {
  position: relative;
  height: 60px;
  width: 100px;
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  margin-left: 132px;
  column-gap: 64px;
}
.menu a {
  color: var(--black_60);
  cursor: pointer;
}
.menu a.active {
  color: var(--brandColor);
  font-weight: bold;
}
.login {
  color: var(--black_100);
}
.userWrap {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.userProfileImage {
  position: relative;
  overflow: hidden;
  width: 35px;
  height: 35px;
  border-radius: 99px;
  margin-right: 14px;
  object-fit: cover;
  object-position: center;
}
.userNickname {
  color: var(--brandColor);
}
.autoHeightImageWrap span {
  position: unset !important;
}
.autoImage {
  object-fit: cover !important;
  position: relative !important;
  height: auto !important;
}
.footer {
  width: 100%;
  background-color: var(--brandColor_weak);
}
.footerWrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  padding: 16px 0;
  display: flex;
  align-items: flex-end;
  color: var(--black_70);
  font-size: 14px;
  justify-content: space-between;
}
.footerCopyright {
  color: var(--brandColor);
}
.footerInfoBox {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  align-items: flex-end;
}
.footerEmail {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.footerGit {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}
.footerGit:hover {
  color: var(--brandColor);
}
.footerGit svg,
.footerEmail svg {
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .menu {
    margin-left: 10vw;
    column-gap: 32px;
  }
}

@media screen and (max-width: 500px) {
  .menu {
    display: none;
  }
}
