.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 50px;
  top: 0;
  left: 0;
  height: 60px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.03);
  z-index: 99;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
  height: auto;
}
.login {
  color: var(--black_100);
}
.userWrap {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.userProfileImage {
  width: 35px;
  height: 35px;
  border-radius: 99px;
  margin-right: 14px;
  object-fit: cover;
  object-position: center;
}
.userNickname {
  color: var(--brandColor);
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 0 20px;
  }
}
