.cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}
.modalInputbox {
  margin-bottom: 20px;
}
.modalWrap {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px 26px;
  margin-top: 20vh;
  min-width: 250px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.modalMessage {
  white-space: pre-line;
  margin-bottom: 20px;
}
.modalBtnBox {
  display: flex;
  justify-content: flex-end;
}
.modalBtnBox button,
.btnCancel {
  padding: 5px 20px;
  cursor: pointer;
}
.modalBtnBox button {
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--brandColor);
  border: 1px solid var(--brandColor);
  color: #fff;
}
.btnCancel {
  border: 1px solid var(--black_40);
  border-radius: 4px;
  background-color: #fff;
}
.modalError {
  margin-top: 10px;
  font-size: 13px;
  color: #f93737;
}
.modalInput {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--black_40);
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  .modalWrap {
    min-width: unset;
  }
  .modalBtnBox {
    flex-direction: column;
  }
  .modalBtnBox button:nth-child(1) {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .modalBtnBox button {
    padding: 14px 10px;
    cursor: pointer;
  }
}
