.tagWrap {
}
.tagList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
}
.tagList .tagItem {
  display: flex;
  align-items: center;
  padding: 10px 12px 10px 24px;
  background-color: var(--black_20);
  color: var(--black_70);
}
.tagList .tagItem svg {
  margin-left: 10px;
  padding-bottom: 3px;
  font-size: 20px;
  cursor: pointer;
}
.inputWrap {
  display: flex;
  border: 1px solid var(--black_40);
  min-height: 43px;
}
.inputWrap input {
  border: none;
  font-size: 16px;
  padding: 0 12px;
  width: 150px;
}
.inputWrap button {
  border: none;
  background-color: var(--black_40);
  padding: 0 18px;
  font-size: 16px;
  cursor: pointer;
  color: var(--black_80);
}
